{
  "plugins": ["@prettier/plugin-php"],
  "phpVersion": "7.4",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
{
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "none",
  "printWidth": 80,
  "endOfLine": "auto",
  "plugins": ["@prettier/plugin-php"],
  "phpVersion": "7.4",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "tabWidth": 4,
        "singleQuote": true
      }
    }
  ]
}
