.kj-hidden{
    display: none !important;
}

.kj-loader {
    width: 24px;
    height: 24px;
    border: 3px solid #424242;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

tr.woocommerce-shipping-totals{
    /*display: none !important;*/
}

.unselectable {
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#kj_destination_area_field .select2 {
    width: 100% !important;
}

.blockUI.blockOverlay{
    background:white !important;
}

.woocommerce-shipping-methods li {
    text-align: left !important;
    margin-bottom: 10px !important;
    border: solid 1px #d2d2d2;
    padding: 5px !important;
    padding-left: 25px !important;
    border-radius: 5px !important;
    background: white !important;
}

.woocommerce-shipping-methods li:hover {
    background-image: linear-gradient(to right, #6534ab 20%, #7a30b4 80%) !important;
}

.woocommerce-shipping-methods li:hover>label {
    color: white !important;
    cursor: pointer !important;
}

.woocommerce-shipping-methods li:has(input:checked) {
    background-image: linear-gradient(to right, #6534ab 20%, #7a30b4 80%) !important;
}

.woocommerce-shipping-methods li:has(input:checked)>label {
    color: white !important;
}

.woocommerce-shipping-methods {margin-top: 15px !important;}

/* Checkout */
#billing_country_field,#shipping_country_field {
    display: none !important;
}