.kiriminaja-setting {
	max-width: 635px;
}
.kiriminaja-setting.unset + p.submit {
	display: none;
}
.kiriminaja-api-setting {
	max-width: 635px;
	margin-bottom: 20px;
}
.kiriminaja-api-setting .api-field {
	display: flex;
	gap: 5px;
}
.kiriminaja-api-setting .api-field input {
	width: 100%;
	display: block;
}